h1 {
  font-family: 'Courier New'
}

.flextest {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  grid-auto-rows: 20vh;
}

img {
  /*
  max-width: 200px;
  max-height: 200px; */
  object-fit: contain;
}

.product-image-container {
  display: flex;
  justify-content: center;
}

.product-description-container {
}