h1 {
  font-family: 'Courier New'
}

.flextest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px grey;
}

img {
  max-width: 200px;
  max-height: 20vh; 
  object-fit: contain;
}

.product-image-container {
  display: flex;
  justify-content: center;
}

.product-description-container {
}